.gallery {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 2.5rem;
  height: 40rem;
  width: 30rem;
  background-color: greenyellow;
  /* border-radius: 2rem; */
  box-shadow: 8px 8px 12px darkgreen;
}

.button-handler {
  display: flex;
}

.gallery button {
  font-size: 24px;
  font-weight: bold;
  height: 8rem;
  margin: 3rem 2rem;
  padding: 1rem;
  border-radius: inherit;
  background-color: rgb(95, 207, 95);
  box-shadow: 3px 3px 0px darkgreen;
}

.gallery button:hover {
  background-color: rgb(80, 170, 80);
}

.gallery button:active {
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 0px darkgreen;
}

@media screen and (max-width: 450px) {
  .gallery {
    height: 500px;
    width: 350px;
    margin: 1.5rem;
  }

  .gallery button {
    height: 6rem;
    margin: 1rem;
    padding: 0.5rem;
  }
}
